doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=VT323', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/knobKnob/knobKnob.css')
  body
    block content
  script(src='/javascripts/physics.js', type='text/javascript')
  script(src='https://code.jquery.com/jquery-1.7.1.min.js')
  script(src='/stylesheets/knobKnob/transform.js')
  script(src='/stylesheets/knobKnob/knobKnob.jquery.js')
  script(src='/stylesheets/js/script.js')
  script(src='/stylesheets/js/slider-knob.js')
  script(src='/stylesheets/js/slider-jqueryui.js')

