doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=VT323', rel='stylesheet', type='text/css')
  body
    block content
  script(src='/javascripts/physics.js', type='text/javascript')
