extends layout

block content
  h1= title
  form(action="/rocket/show_user/login", method="post")
    div
      p
       label(for='loginPlayerTextBox') Enter your existing player name
      input(type="text" name="name_entered" id="loginPlayerTextBox")
    div
      input(type="submit" value= "Login")