extends layout

block content
  h1= title
  form(action="/rocket/show", method="get")
    div
      p
       label(for='loginPlayerTextBox') Enter your existing player name
      input(type="text" name="name" id="loginPlayerTextBox")
    div
      input(type="submit" value= "Login")