extends layout

block content
  h1= title
  form(action="/rocket/loginPlayer", method="post")
  div
    p
     label(for='loginPlayerTextBox') Enter your existing player name
    input(type="text" name="loginPlayerName" id="loginPlayerTextBox")
  div
    input(type="submit" value= "Start Game")