extends layout

block content
  h1(id= "megashadow")= title
  form(action="/rocket/show_user/login", method="post" class= "center")
    div
      p
       label(for='loginPlayerTextBox') Enter your existing player name
      input(type="text" name="name_entered" id="loginPlayerTextBox" autofocus)
    div
      input(type="submit" value= "Login")