extends layout

block content
  h1= title
  form(action="/rocket/newPlayer", method="post")
    div
      p
       label(for='newPlayerTextBox') Enter new player name
      input(type="text" name="newPlayerName" id="newPlayerTextBox")
    div
      input(type="submit" value= "Start Game")