extends layout

block content
  .content
    img( id= "imgRocket" src='/images/Magnum_Booster_Rocket.png',  width='100', height='100')
    img(id= "imgMoon" src='/images/moon.png',  width='50', height='50')
    table
      tr
        td
          .gameLeftCol
            table#gameTable
              -var yCordinate = ["50y","49y", "48y","47y", "46y","45y","44y","43y", "42y", "41y", "40","39", "38y", "37y", "36y", "35y", "34y", "33y","32y","31y", "30y","29y","28y", "27y","26y", "25y", "24y", "23y", "22y", "21y", "20y", "19y", "18y", "17y", "16y", "15y", "14y", "13y", "12y", "11y", "10y", "9y", "8y", "7y", "6y", "5y", "4y", "3y", "2y", "1y","0y"]
              ul
                each yval in yCordinate
                  tr
                    -var xCordinate = ["0", "1x", "2x", "3x", "4x", "5x", "6x", "7x", "8x", "9x", "10x", "11x", "12x", "13x", "14x", "15x", "16x", "17x", "18x", "19x", "20x", "21x", "22x", "23x", "24x", "25x", "26x", "27x", "28x", "29x", "30x", "32x", "33x", "34x", "35x", "36x", "37x", "38x", "39x", "40x", "41x", "42x", "43x", "44x", "45x", "46x", "47x", "48x", "49x", "50x"]
                    ul
                      each xval in xCordinate
                        td(id= yval + xval)= yval + xval
              div
                tr#gameScreenGround
                  - var n = 0
                    ul
                      while n < 26
                        td= "g" + n++
                tr#gameScreenGround
                  - var n = 0
                    ul
                      while n < 26
                        td= "g" + n++
        td
          .gameRightCol            
            h4= thePlayer.name            
              form(action="/rocket/playGame/" + thePlayer._id, method="post", class="center")
                div
                  p Velocity X axis
                  input(type="text" name="angle_entered" id="velocityGameX")
                  div
                  p Velocity Y axis
                  input(type="text" name="angle_entered" id="velocityGameY")
                div
                  button(id= "ignitionButton") Ign button



            