extends layout

block content
  .content
    img( id= "imgRocket" src='/images/Magnum_Booster_Rocket.png',  width='60', height='75')
    img(id= "imgMoon" src='/images/moon.png',  width='50', height='50')
    table(style='width: 100%;background-color: #333333')
      tr
        td(style='width: 70%')
          table(id= 'gameScreen', style='width: 100%; border: 8px solid black; background: linear-gradient(0deg, #BDEDFF, black)')
            -var yCordinate = ["200y", "199y", "198y", "197y", "196y", "195y", "194y", "193y", "192y", "191y", "190y", "189y", "188y", "187y", "186y", "185y", "184y", "183y", "182y", "181y", "180y", "179y", "178y", "177y", "176y", "175y", "174y", "173y", "172y", "171y", "170y", "169y", "168y", "167y", "166y", "165y", "164y", "163y", "162y", "161y", "160y", "159y", "158y", "157y", "156y", "155y", "154y", "153y", "152y", "151y", "150y", "149y", "148y", "147y", "146y", "145y", "144y", "143y", "142y", "141y", "140y", "139y", "138y", "137y", "136y", "135y", "134y", "133y", "132y", "131y", "130y", "129y", "128y", "127y", "126y", "125y", "124y", "123y", "122y", "121y", "120y", "119y", "118y", "117y", "116y", "115y", "114y", "113y", "112y", "111y", "110y", "109y", "108y", "107y", "106y", "105y", "104y", "103y", "102y", "101y", "100y", "99y", "98y", "97y", "96y", "95y", "94y", "93y", "92y", "91y", "90y", "89y", "88y", "87y", "86y", "85y", "84y", "83y", "82y", "81y", "80y", "79y", "78y", "77y", "76y", "75y", "74y", "73y", "72y", "71y", "70y", "69y", "68y", "67y", "66y", "65y", "64y", "63y", "62y", "61y", "60y", "59y", "58y", "57y", "56y", "55y", "54y", "53y", "52y", "51y", "50y", "49y", "48y", "47y", "46y", "45y", "44y", "43y", "42y", "41y", "40y", "39y", "38y", "37y", "36y", "35y", "34y", "33y", "32y", "31y", "30y", "29y", "28y", "27y", "26y", "25y", "24y", "23y", "22y", "21y", "20y", "19y", "18y", "17y", "16y", "15y", "14y", "13y", "12y", "11y", "10y", "9y", "8y", "7y", "6y", "5y", "4y", "3y", "2y", "1y", "0y"]
            ul
              each yval in yCordinate
                tr
                  -var xCordinate = ["0x", "1x", "2x", "3x", "4x", "5x", "6x", "7x", "8x", "9x", "10x", "11x", "12x", "13x", "14x", "15x", "16x", "17x", "18x", "19x", "20x", "21x", "22x", "23x", "24x", "25x", "26x", "27x", "28x", "29x", "30x", "31x", "32x", "33x", "34x", "35x", "36x", "37x", "38x", "39x", "40x", "41x", "42x", "43x", "44x", "45x", "46x", "47x", "48x", "49x", "50x", "51x", "52x", "53x", "54x", "55x", "56x", "57x", "58x", "59x", "60x", "61x", "62x", "63x", "64x", "65x", "66x", "67x", "68x", "69x", "70x", "71x", "72x", "73x", "74x", "75x", "76x", "77x", "78x", "79x", "80x", "81x", "82x", "83x", "84x", "85x", "86x", "87x", "88x", "89x", "90x", "91x", "92x", "93x", "94x", "95x", "96x", "97x", "98x", "99x", "100x", "101x", "102x", "103x", "104x", "105x", "106x", "107x", "108x", "109x", "110x", "111x", "112x", "113x", "114x", "115x", "116x", "117x", "118x", "119x", "120x", "121x", "122x", "123x", "124x", "125x", "126x", "127x", "128x", "129x", "130x", "131x", "132x", "133x", "134x", "135x", "136x", "137x", "138x", "139x", "140x", "141x", "142x", "143x", "144x", "145x", "146x", "147x", "148x", "149x", "150x", "151x", "152x", "153x", "154x", "155x", "156x", "157x", "158x", "159x", "160x", "161x", "162x", "163x", "164x", "165x", "166x", "167x", "168x", "169x", "170x", "171x", "172x", "173x", "174x", "175x", "176x", "177x", "178x", "179x", "180x", "181x", "182x", "183x", "184x", "185x", "186x", "187x", "188x", "189x", "190x", "191x", "192x", "193x", "194x", "195x", "196x", "197x", "198x", "199x", "200x"]
                  ul
                    each xval in xCordinate
                      td(id= yval + xval)
            ul
              tr
                td(background="/images/grass.jpg", colspan='75' style='height: 30px')
                td(background="/images/ocean.jpeg", colspan='125', style='height: 30px')           
        td(style='background-color: #333333; color: #5dff4f; width: 30%; font-family: VT323; font-size: 26px; text-align: left; padding-top: 1px')            
          p= "Player name:    " + thePlayer.name 
          p Current conditions
            ul
              li(style='font-size: 20px') Wind speed is currently: 20km/hr
              li(style='font-size: 20px') Distance to Moon: 384,403 km
              li(style='font-size: 20px') Distance to satellite 20,200 kilometres, which yields an orbital period of 12 hours  

          
            table(style='padding-top: 20px; background-color: #191919; padding-bottom: 60px; border: 1px solid white; width: 100%')
              tr
                td Velocity
                  section#main
                    div#bars
                      div#control
                td(style='text-align: right') 
                        input(id="knobText", type='text', value= '369', size='8', style='height: 20px; padding-right: 20px; font-size: 20px; font-family: VT323')
              tr
                td(style='padding-top: 20px; padding-bottom: 20px; padding-right: 20px') Angle
                  div
                    input(id='angleSlideInput', type='range',  min='44.0', max='46.0', step='0.01', onchange='updateAngleText(this.value);')
                td  
                  div(style='text-align: right')
                    input(id='angleText', type='text', value= '45', size='12', style='height: 20px; font-size: 20px; font-family: VT323; text-align:center')                     
              tr
                td(style='width: 100%; padding-top: 15px; text-align: center')
                  button(id= "launchButton" style='height: 16px; background-color: red; color:white; font-size: 26px; height: 100px; width: 100px; moz-border-radius: 50px; -webkit-border-radius: 50px') Launch
                td
                  button(id= "misc" style='background-color: green; color: white') MISC

  form(id='endGameForm', action='/rocket/playGame/' + thePlayer.name, method="post")
    div
      p Games Won
      input(type="text", id="inputGamesWon", name="inputGamesWon", value= thePlayer.gamesWon)
    div 
      p Games Played 
      input(type="text", id="inputGamesPlayed", name="inputGamesPlayed", value= thePlayer.gamesPlayed)
    div
      button(type="submit", id= "endGame" style='background-color: purple; color: yellow') End Game



            