extends layout

block content
  h1(id= "megashadow")= title
  div(class= "centerShowStats")
    h2= thePlayer.name
    h3= "Games Played: " + thePlayer.gamesPlayed
    h3= "Games Won: " + thePlayer.gamesWon
    h3 
      a(href="/rocket/playGame/" + thePlayer.name) START
          