extends layout

block content
  h1= title
  h2= thePlayer.name
    h3 
      a(href="/rocket/playGame/" + thePlayer.name) START
    h3 
      a(href="/rocket/edit/" + thePlayer.name) Edit player profile
        