extends layout

block content
  h1= title
  form(action="/rocket/show_user/signup", method="post")
    div
      p
       label(for='newPlayerTextBox') Enter new player name
      input(type="text" name="name_entered" id="newPlayerTextBox")
    div
      input(type="submit" value= "Signin")
