body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border: 10px solid green;
}

td {
  border: 2px solid #FF00FF;
  padding: 10px;
}

#titleFont {
  font-family: Tahoma;
  font-size: 80px;
  font-weight: bold;
  
}

#winsColumn {
  width: 80px;
}

#gamesPlayedColumn {
  width: 80px;
}

#nameColumn {
  width: 180px;
}
